#!/bin/sh

########################################################################
# Mesh-Snap is a very simple system monitoring script based off sys-snap
########################################################################
#
#	Example Configuration file
#################################

# Set the time between snapshots for formating see: man sleep
SLEEP_TIME="5m"

# Retain Logs localy
# If this option is set to true, logs will be retained on the node itself
# Otherwise logs will be purged to reduce memory ussage
#
# Set Retain Logs to true if you want to log
# To flash memory instead of FTP uplaod.
RETAIN_LOGS=false

# FTP SETTINGS
FTP_HOST=''
FTP_PORT=''
FTP_BASE_PATH='~/'


##############
# Custom Hooks
##############

#function mesh-snap-initalization() {
#  # Custom Bash Code goes here
#}

#function mesh-snap-pre-data-collection(){
#  # Custom Bash Code goes here
#}

#function mesh-snap-data-collection(){
#  # Custom Bash Code goes here
#  # Output from this fuction will automaticaly be added to the $LOG
#}

#function mesh-snap-post-data-collection(){
#  # Custom Bash Code goes here
#}

